@model string
@{
    ViewData["Title"] = "Kartverket";
}

<section class="mx-auto max-w-3xl">
    <div class="text-center space-y-4">
        <div class="space-y-4">
            <h1 class="text-4xl sm:text-5xl font-normal tracking-wide text-gray-920">
                WELCOME TO
            </h1>
            <h2 class="text-4xl sm:text-5xl font-normal tracking-wide text-gray-920">
                KARTVERKET
            </h2>
        </div>
        <div class="flex justify-center pl-4">
            <img src="~/images/Kartverketlogo.svg"
                 alt="Kartverket"
                 class="h-30 w-auto" />
        </div>
        @if (!string.IsNullOrWhiteSpace(Model))
        {
            <p class="text-gray-800">@Model</p>
        }
        <div class="pt-4">
            <a asp-action="Login" asp-controller="Auth"
               class="block w-full max-w-sm mx-auto px-8 py-10 text-xl sm:text-2xl font-medium tracking-wide text-gray-900 bg-gray-300 rounded-full hover:bg-gray-400 transition-colors duration-200">
                Sign In
            </a>
        </div>
    </div>
</section>

